@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body{
  height: 100%;
}

body {
  margin: 0;
  background: url('./assets/background.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

